<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" [routerLink]="['/projects']">TopPMS</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/projects']">Projects</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/tasks']">Tasks</a>
    </li>
  </ul>
  <span class="login-name">{{userService.currentUserName}}</span>
  <button class="btn btn-outline-success my-2 my-sm-0">Logout</button>
</nav>