<app-navbar></app-navbar>
<div class="container">
  <h1>Projects</h1>
  <p class="lead">All Projects</p>
  <button class="success" (click)="createProject()">Create</button>
  <div class="container">
    <div class="row" *ngFor="let project of projectsService.projects">
      <app-list-item [item]="project"
                     [detailsRouterLink]="getProjectDetailsURL(project)"
                     [updateRouterLink]="getProjectUpdateURL(project)"
                     (delete)="deleteProject($event)"></app-list-item>
    </div>
  </div>
</div>